* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.detail {
  width:70%;
  margin: 80px auto;
  background-color: white;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  font-weight: 300;
  padding: 50px;
  border-radius: 5px;
  color: #adaeb9;
  text-decoration: none;
  color: inherit;
}

.detail_img {
  width: 40%;
  display: block;
  margin:0 auto;
}
.detail_title {
  margin: 20px 0;
}
.detail_spec {
  font-size:20px;
  font-weight: 400;
  margin:5px auto;
}
.detail_spec_title {
  color:#999;
  margin-right:10px;
  font-weight: 600;
}
.genre_ul {
  display: inline-block;
}
.genre_list {
  display:inline-block;
  list-style: none;
  font-weight: 400;
}
.genre_list::after {
  content:',';
  margin-right: 5px;
}
.genre_list:last-child::after {
  content:none;
}
.detail_summary {
  margin-top:20px;
}